.p-2{
  /*border-bottom: groove 2px #2874A6;*/
  /*width: 200px;*/
  /*margin-bottom: 30px;*/
  /*margin-left: 30px;*/
  /*margin-top: 5px;*/
}
.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  color: #fff;
  transition: all 0.3s;
  border-right: solid 2px #2874A6;
  height: 90vh;

}
:host{
  width: 100% !important;
}
