
.headtitle{
  color: darkgoldenrod;
  font-size:20px;
  text-align: start;
}
.mat-form-field {
  width: 100%;

}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.submit-button {
  display: block;
  align-self: center;
}
