

<mat-card   class="mat-card">
  <mat-card-content>
    <mat-tab-group >
      <mat-tab label="Vital Signs">
        <app-vitalsigns></app-vitalsigns>
      </mat-tab>
      <mat-tab label="Last Visit Info">
        <app-lastvisitinfo ></app-lastvisitinfo>
      </mat-tab>
      <mat-tab label="Clinical History">
        <app-clinicalhistory ></app-clinicalhistory>
      </mat-tab>
      <mat-tab label="Allergies/Existing Medical Condition">
        <app-existingmedicalcondition ></app-existingmedicalcondition>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
